<footer>
    <div class="row align-items-center">
      <div class="col">
        <h1><img src="../assets/Images/Logo.png" alt="" width="150px" height="166px" id="Logo">Farmalac</h1>
  
      </div>
      <div id="raya" ></div>
      
      <div class="col" id="column">
        <h2>Contact us:</h2>
        <p>Phone number: 3159872563</p>
        <p>Email: Farmalac@gmail.com</p>
      </div>
      <div id="raya" ></div>
  
      <div class="col text-center" id="column">
        <h2> Follow us:</h2>
        <br>
        <a href="https://www.facebook.com/frerun11"><img src="../assets/Images/FacebookLogo.png" alt="" width="70px"
            height="70px" id="LogoFacebook"></a>
        <a href="https://twitter.com/Chuzoxd1"><img src="../assets/Images/TwitterLogo.png" alt="" width="70px"
            height="70px" id="LogoTwitter"></a>
        <a href="https://www.instagram.com/diegonorr3a/"><img src="../assets/Images/InstagramLogo.png" alt="" width="70px"
            height="70px" id="LogoInstagram"></a>
  
  
  
      </div>
    </div>
  </footer>
